on: workflow_dispatch
jobs:
  test-github-cli:
    runs-on: ubuntu-latest
    steps:
      - run: gh repo clone GMZwinge/test-github-cli2 .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: git checkout -b branch
      - run: date +%s > report.txt
      - run: git add .
      # To avoid this error during `git commit`:
      #    Author identity unknown
      - run: git config --global user.email "you@example.com"
      - run: git config --global user.name "Your Name"
      - run: git commit -m dummy
      - run: git push
      - run: gh pr create --fill
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
