on: workflow_dispatch
jobs:
  test-github-cli:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - run: gh repo clone GMZwinge/test-github-cli2 .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          if [ -n "$(git ls-remote --heads origin refs/heads/branch)" ]; then
            # Check out existing remote branch.
            git checkout branch
          else
            # Create and checkout local branch.
            git checkout -b branch
          fi
      - run: git checkout -b branch
      - run: date +%s > report.txt
      - run: git add .
      # To avoid this error during `git commit`:
      #    Author identity unknown
      - run: git config --global user.email "you@example.com"
      - run: git config --global user.name "Your Name"
      - run: git commit -m dummy
      # Even with permission: write-all, this gives this error:
      #  fatal: could not read Username for 'https://github.com': No such device or address
      # https://github.com/orgs/community/discussions/26580 talks about this.
      # From abannachGrafana:
      - run: git config --global url.https://${{ secrets.PAT }}@github.com/.insteadOf https://github.com/
      - run: git push --set-upstream origin branch
      # The `gh pr create` gives this error:
      #  pull request create failed: GraphQL: Resource not accessible by integration (createPullRequest)
      - run: gh pr create --fill
        env:
          #GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Does using path instead of GITHUB_TOKEN avoid the error?
          GH_TOKEN: ${{ secrets.PAT }}
